In [102]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [103]:
#Special Occasions
#Rivalries
#After a loss
#Betting Odds

In [104]:
df = pd.read_csv(r'C:\Users\raadr\OneDrive\Desktop\AflAnalysis-\data\interim\fullSesData.csv')
df

,GameId,Year,Round,Date,MaxTemp,MinTemp,Rainfall,Venue,StartTime,Attendance,...,previous_game_home_points,previous_game_home_percentage,previous_game_away_position,previous_game_away_points,previous_game_away_percentage,Day,Month,MinutesSinceMidnight,HomeProbability,AwayProbability
0,2012R0102,2012,1,2012-03-29,25.7,9.7,0.0,1,1900-01-01 19:45:00,78285,...,NaN,NaN,NaN,NaN,NaN,3,3,1185,0.403226,0.657895
1,2012R0103,2012,1,2012-03-30,27.4,9.7,0.0,1,1900-01-01 19:50:00,78466,...,NaN,NaN,NaN,NaN,NaN,4,3,1190,0.606061,0.456621
2,2012R0104,2012,1,2012-03-31,29.1,15.1,0.6,1,1900-01-01 13:45:00,33473,...,NaN,NaN,NaN,NaN,NaN,5,3,825,0.704225,0.355872
3,2012R0105,2012,1,2012-03-31,28.2,19.7,0.0,2,1900-01-01 15:45:00,12790,...,NaN,NaN,NaN,NaN,NaN,5,3,945,0.227790,0.819672
4,2012R0106,2012,1,2012-03-31,24.0,9.0,0.0,3,1900-01-01 16:45:00,34601,...,NaN,NaN,NaN,NaN,NaN,5,3,1005,0.510204,0.558659
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2454,2023SF01,2023,-3,2023-09-15,24.5,14.4,0.0,1,1900-01-01 19:50:00,96412,...,NaN,NaN,NaN,NaN,NaN,4,9,1190,0.621118,0.452489
2455,2023SF02,2023,-3,2023-09-16,24.0,7.6,0.0,11,1900-01-01 19:10:00,45520,...,NaN,NaN,NaN,NaN,NaN,5,9,1150,0.617284,0.458716
2456,2023PF01,2023,-2,2023-09-22,15.3,5.7,0.0,1,1900-01-01 19:50:00,97665,...,NaN,NaN,NaN,NaN,NaN,4,9,1190,0.645161,0.427350
2457,2023PF02,2023,-2,2023-09-23,24.1,14.2,0.0,6,1900-01-01 17:15:00,36012,...,NaN,NaN,NaN,NaN,NaN,5,9,1035,0.724638,0.327869
2458,2023GF01,2023,-1,2023-09-30,29.4,17.0,0.0,1,1900-01-01 14:30:00,100024,...,NaN,NaN,NaN,NaN,NaN,5,9,870,0.591716,0.483092

In [106]:
df[['HomeTeam', 'AwayTeam', 'previous_game_home_position', 'previous_game_away_position']].iloc[1:15]

KeyError: "['previous_game_home_position'] not in index"